   
    <section>
        <id id="newsarticle" class="container bg-light">
            <h2 class="display-3 bg-light">Je suis injecté dans l'élément news-article bien que provenant d'une source externe</h2>
            <p>C'est quoi ce titre ??? C'est moi le pourvoyeur de contenu !!! </p>
            <div class="row">
                <div class="card rounded col-4">
                    <div class="card-header">
                        Titre card header
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste rem molestiae sint dolor tenetur sed eligendi dolore accusantium itaque in, mollitia eius blanditiis. Eaque tenetur quisquam dolore ratione. Itaque, quisquam.</p>
        </id>
    </section>