<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./exemple.js" defer></script>
    <title>Demo Web Component</title>
</head>


<body>


    <div class="container">
        <second-timer></second-timer>
        <div class="form-group">
            
            <label for="start">Date de début</label>
            <input type="text" id="start" class="form-control">
        </div>

        <div id="target">

        </div>

        <button class="btn btn-primary" id="start">Ajouter un champ</button>
    </div>


    
</body>
</html>