<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="script.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- exemple simple -->
    <!-- Cet élément et ce qu'il renferme n'est pas directement retranscrit dans le DOM, mais peut par contre toujours être manipulé avec JavaScript. -->
    <template id="my-paragraph">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed reiciendis itaque dolores! Ullam quod, iste expedita excepturi non ducimus. Doloremque quos rem veniam adipisci nostrum laboriosam iure at quo dolorem.</p>
    </template>

</body>

</html>