
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <template id="premier">
        <h1>Titre par défaut en provenance de template</h1>
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odit fuga, nam accusantium dolore, porro perferendis quia quam, distinctio perspiciatis sed placeat! In consectetur obcaecati voluptatibus ipsa earum nam molestiae.</p>
    </template>

    <div id="second">Paragraphe chargé depuis le div d'id #second. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, recusandae consequuntur nemo qui tempore corporis porro soluta debitis, dicta laborum facilis cupiditate illo dolorum tenetur eos pariatur dolores suscipit animi.</div>
</body>
</html>

